body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* to controle the divs elemnts */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    /* To add shadow (ضل )*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;

}

button:hover {
    background-color: #0056b3;
}

#colorDiv {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-color: lightblue;
    border-radius: 8px;

}
