.container{
    text-align: center;
    background-color: white;
    margin: 200px auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}
#background{
    width: 150px;
    height: 150px;
    background-color: black;
    margin: 20px auto;
}
h1 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}